<!DOCTYPE html>
<html lang="en">
<head>
	<title>Airline Login</title>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	
</head>
<body background="reg2.jpg" style ="background-size: 1200px;background-repeat: no-repeat;">
  <ul class="nav nav-tabs" style="font-weight: bold!important;background-color: white">
  <li class="nav-item">
    <a class="nav-link active" href="/" style="color: black;background-color: aliceblue">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/userlogin">User Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/userRegistration">User Registration</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/airlinesLogin">Airline Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Register">Register Airlines</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/UnRegister">Un-Register Airlines</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/UnRegisterUser">Un-Register User</a>
  </li>
</ul>
</body>	
</html>