<!DOCTYPE html>
<html lang="en">
<head>
	<title>Airline Login</title>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	
</head>
<body background="bg.png" style ="background-size: cover;background-position-y: -20px;">
  <ul class="nav nav-tabs" style="font-weight: bold!important">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/userlogin">User Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/airlinesLogin">Airlines Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Register">Register Airlines</a>
  </li>
</ul>
</body>	
</html>