<!DOCTYPE html>
<html lang="en">
<head>
	<title>Deregister User</title>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	
</head>
<body background="reg2.jpg" style ="background-size: 1200px;background-repeat: no-repeat;">
<ul class="nav nav-tabs" style="font-weight: bold!important">
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item" >
    <a class="nav-link" href="/userlogin">User Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/userRegistration">User Registration</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/airlinesLogin">Airline Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Register">Register Airlines</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/UnRegister">Un-Register Airlines</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/UnRegisterUser">Un-Register User</a>
  </li>
</ul>
<form action="/UnRegisterUser" method="POST" style = "margin-top: 70px;width: 50%;margin-left: 300px;">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail" style="font-weight: bold;color: black">Email</label>
      <input type="email" class="form-control" id="logininputEmail" name="logininputEmail" placeholder="User Id" required>
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4" style="font-weight: bold;color: black">Password</label>
      <input type="password" class="form-control" id="inputPassword" name="logininputPassword" placeholder="User Password" required>
    </div>
    <label class="form-check-label" for="invalidCheck2" style="color: red">
        * User will be un-registered from the consortium.
      </label>
  </div>
  <button type="submit" class="btn btn-info" id="userBtn" style="margin-left:220px;margin-top:20px">Un-Register User</button>
</form>
</body>	
</html>