<!DOCTYPE html>
<html lang="en">
<head>
	<title>User Registration</title>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<script src="clientfunc.js"></script>
</head>
<body background="reg2.jpg" style ="background-size: 1200px;background-repeat: no-repeat;">
<ul class="nav nav-tabs" style="font-weight: bold!important;color: black;">
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/userlogin">User Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">User Registration</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/airlinesLogin">Airline Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/Register">Register Airlines</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="/UnRegister">Un-Register Airlines</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/UnRegisterUser">Un-Register User</a>
  </li>
</ul>
<form action="/UserRegistration" method="POST" style = "margin-top: 50px;width: 50%;margin-left: 300px;">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail" style="font-weight: bold;color: black">Email</label>
      <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Email Id" required>
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword" style="font-weight: bold;color: black">Password</label>
      <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Password" required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputAirlineName" style="font-weight: bold;color: black">Airline</label>
      <select id="inputAirline" class="form-control" name="inputAirline">
        <option selected>Select</option>       
    <% for(var i=0; i<drpdown.length; i++) {%>
      <option><%= drpdown[i].AirlineName %></option>
    <% } %>
      </select>
    </div>
    <div class="form-group col-md-6">
    <label for="inputFlyingFrom" style="font-weight: bold;color: black">Flying From (Source)</label>
    <input type="text" class="form-control" id="inputFlyingFrom" name="inputFlyingFrom" placeholder="Source Airport" required>
  </div>
  </div>  
  <div class="form-row">
  <div class="form-group col-md-6">
    <label for="inputFlyingTo" style="font-weight: bold;color: black">Flying To (Destination)</label>
    <input type="text" class="form-control" id="inputFlyingTo" name="inputFlyingTo" placeholder="Destination Airport" required>
  </div>
  </div>
      <label class="form-check-label" for="invalidCheck2" style="color: green;margin-top: 10px;margin-bottom: 10px">
        * User will be registered on the consortium.
      </label>
  <button type="submit" class="btn btn-primary" id="userBtn" style="margin-left:250px">Register User</button>
<% if (showMsg == "True"){ %>
<div class="alert alert-warning" role="alert" style="margin-top: 10px">
      <%= messageFromAPI %>
</div>
<% } %>
  
</form>

</body>	
</html>